@model ProjectName.Model.RequestViewModels.RequestFileModel;
@{
    ViewData["Title"] = "Chọn file lưu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <style>
        .center {
            margin: auto;
            width: 50%;
        }

        .field-validation-error {
            color: red;
        }

        .validation-summary-errors {
            color: red
        }
    </style>
}

<div class="center">
    <h2 class="text-center">Upload file</h2>
    <div asp-validation-summary="ModelOnly">
    </div>
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="files"></label>
            <input asp-for="files" class="form-control-file">
            <small class="form-text text-muted">
                <span asp-validation-for="files"></span>
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Lưu file</button>
    </form>
</div>

@section footer
{

}